// import dark theme
@use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;

:root {
  --el-border-radius-base: 8px;
  --el-menu-item-height: 48px !important;
}

body {
  font-family: Inter, system-ui, Avenir, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

// app global css in SCSS

.bg-primary-gradient {
  background: radial-gradient(circle at top right, #ffffff, var(--el-color-primary));
}

.bg-error-gradient {
  background: radial-gradient(circle at center left, var(--el-color-error), var(--el-color-error-dark-2));
}

.bg-success-gradient {
  background: radial-gradient(circle at center right, var(--el-color-success-light-3), var(--el-color-success));
}

.bg-warning-gradient {
  background: radial-gradient(circle at center top, var(--el-color-warning-light-3), var(--el-color-warning));
}

.el-menu {
  border-right: initial !important;
}

.el-dialog {
  --el-dialog-border-radius: var(--el-border-radius-base) !important;
}

.el-divider--horizontal {
  margin: 12px 0 !important;
}

.el-card {
  --el-card-border-radius: 8px !important;
}

.el-transfer {
  --el-transfer-panel-body-height: 420px !important;
}

.search {
  .el-card__body {
    padding-bottom: 0;
  }
}